/**/

.navbar {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fill, 300px);
  background-color: white;
  width: 100%;
  z-index: 5;
  position: sticky;
  top: 0;
}
/*
@@media (min-height:300px) {
  nav {
  position: sticky;
  top: 0;
  }
}*/
.navbar > div {
  align-self: center;
  padding-left: 50px"
}

.logo {
  /* width: 100px; */
  height: 30px;
  padding: 3px;
}

.curr_video {
  padding: 30px 10px 10px 70px;
}

.side_bar {
    width: 100px;
    padding: 30px 50px;
    margin: 30px;
}
